@tailwind base;
@tailwind components;
@tailwind utilities;

.navbar {
    position: fixed;
    background-color: var(--bg-primary);
    transition: width 600ms ease;
    overflow: scroll;
    z-index: 100;
  }
  
  
  /* width */
  .navbar::-webkit-scrollbar {
    width: 1px;
    height: 1px;
  }
  
  /* Track */
  .navbar::-webkit-scrollbar-track {
    box-shadow: inset 0 0 1px grey; 
    border-radius: 10px;
  }
   
  /* Handle */
  .navbar::-webkit-scrollbar-thumb {
    background: rgb(141, 187, 255); 
    border-radius: 10px;
  }
  
  .navbar-nav {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
  }
  
  .nav-item {
    width: 100%;
  }
  
  .nav-item:last-child {
    margin-top: auto;
  }
  
  .nav-link {
    display: flex;
    align-items: center;
    height: 3.8rem;
    color: var(--text-primary);
    text-decoration: none;
    filter: grayscale(100%) opacity(0.7);
    transition: var(--transition-speed);
  }
  
  .nav-link:hover {
    filter: grayscale(0%) opacity(1);
    background: var(--bg-secondary);
    color: var(--text-secondary);
  }
  
  .link-text {
    display: none;
    margin-left: 1rem;
  }
  
  .nav-link svg {
    width: 1.5rem;
    min-width: 1.5rem;
    margin: 0 1.5rem;
  }